<h1><%= @discount.name %></h1>

<h4>Number of Items Required: <%= @discount.bulk %></h4>
<h4>Percent Off: <%= (@discount.percentage * 100).to_i %>%</h4>
<h4>Description: <%= @discount.description %></h4>
